*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}

.bg-primary{
    background-color: pink!important;
    background-image: url(../assets/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


p#redred{
    background-color: aqua(138,43,226,0.5);
    color:black;
    border:10px dashed red;
    background-image: url(../assets/img/sky.jpg);
    font-size:40px;
    text-align:center;
    font-family: 'Noto Sans TC', sans-serif;
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

.blueblue{
    color:blue;
}
a.expedu_icon{
    color:aquamarine;
}

a.expedu_icon:hover{
    color:aquamarine;
    background-color: blue;
}

table{
    width: 100%;
    background-color: powderblue;
}
table.andytable th{
    background-color: black;
    color:white;
    text-align: center;
}
table.raytable td{
    text-align: center;
}
table.raytable tr:nth-child(even){
    background-color: yellow;
}
table.raytable tr:nth-child(odd){
    background-color: pink;
}

