*{
    letter-spacing: 0.8px;
    line-height: 1.5em;
}

body{
    font-family: 'Noto Sans TC', sans-serif;
}
p.redred{
    color:red;
    font-size: 32px;
    text-align: left;
    text-indent: 2em;
    background-color: aqua;
}

.blueblue{
    color:blue;
}
a.expedu_icon{
    color:aquamarine;
}

a.expedu_icon:hover{
    color:aquamarine;
    background-color: blue;
}

