body{
    font-family: 'Noto serif TC', sans-serif;
}
 div#redred{
    padding:50px 150px 300px 0px ;
    color: rgb(82, 69, 69);
    font-size: 40px;
    text-align: left;
    text-indent: 2em;
    background-color:rgb(149, 170, 246);
    line-height: 1.5em;
    border: 5px solid yellow;
    margin: 0px 0px 100px 0px;
    border-color: rgb(107, 89, 91);
    background-image: url(../assets/img/sky.jpg);
    
    }
    span.blueblue{
    color:rgb(175, 144, 208);
    }
    .expedu_icon{
        color:blue
    }
    .expedu_icon:hover{
        background-color: blue;
        color: white;
        font-size: small;
    }
    .bg-primary{
        background-color: rgb(66, 22, 128) !important;
        background-image: url(../assets/img/background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    ol.mylist.li:hover {
        background-color: blueviolet;
        color: azure;
    }
    .overfloetest{
        background-color:pink;
        color:white;
        padding:10px 20px;
        border-radius:15px;
        width:50%;
        margin:30px auto;
        height:300px;
        overflow:scroll;
    }
    /*table.mytable th{
        width: 80%;
        background-color: yellow;
        color: rgb(58, 58, 58);
        border: 2.5px solid orange (57, 22, 255);
    }
    table.mytable td{
        text-align: center;
        border: 2.5px solid orange(57, 22, 255); ;
        border-collapse: separate;
    }
    table.mytable tr:nth-child(even){
        background-color: cornflowerblue;
    }
    